# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Global settings. The default indent_size is set to 2 to match Dart's style guide.
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Dart files: Use 2 spaces for indentation and a maximum line length of 100 characters.
[*.dart]
max_line_length = 100

# Python files: Override indent to 4 spaces to follow PEP 8 standard.
[*.py]
indent_size = 4
max_line_length = 100

# Markdown files
[*.md]
max_line_length = 120
trim_trailing_whitespace = false
